*{
    margin: 0px;
    padding: 0px;
   }
.blue{
    color: blue;
}
#header{
    display: block;
    position: relative;
}
#header>img{
    width: 90px;
    display: inline-block;
}
#header>p{
    color: grey;
    font-size: 45px;
    display: inline;
    position: absolute;
    top: 20px;
}
#wrapper{
    width: 970px;
    height: 500px;
    /* background-color: red; */
    display: block;
    margin: 0 auto;
}
#www{
    width: 970px;
    background: linear-gradient(#1C6199, #297FC4);
    height: 50px;
    display: inline-block;
    margin-top:-20px;
}
#www>p{
    position: absolute;
    top: 85px;
    color: white;
    font-size: 25px;
    left: 50px;
}