<!doctype html>
<html lang="en">
  <head>
    <title>Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        *{
            margin: 10px;
            width: 1200px;
        }
        #header{
            text-align: right;
            display: block;
        }
    </style>
  </head>
  <body>
    <div id="header">
        <a href="/dashboard">Back</a> | <a href="/logout">Log Out</a>
    </div>    
    <h2>Edit your job posting</h2>
    <div id="input">
        <form name="editjob" id="editjob" action="/processs" method="POST">
            {% csrf_token %}
            Title: <input type="text" name="jobtitle" value="{{job.name}}">
            Description: <textarea rows="4" cols="50" name="description" value="{{job.description}}">{{job.description}}</textarea>
            Location: <input type="text" name="location" value="{{job.location}}">
            <input type="submit" value="Submit" id="jobsubmit">
        </form>
    </div>
  </body>
</html>